<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <section id="experience" class="section fade-in" th:fragment="experience">
        <div class="section-header">
            <div class="section-icon"><i class="fas fa-briefcase"></i></div>
            <h2>_experience</h2>
            <div class="section-line"></div>
        </div>
        <div class="exp-card">
            <h3>Independent Software Developer</h3>
            <ul>
                <li>Gained hands-on experience in full-cycle software development through designing, developing, and
                    deploying complex web and mobile applications.</li>
                <li>Demonstrated strong problem-solving skills by researching and implementing advanced AI models and
                    RESTful APIs into real-world projects.</li>
            </ul>
        </div>
    </section>
</body>
</html>
